# Environnement virtuel
.venv/
venv/
env/
ENV/

# Cache Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Fichiers de distribution
dist/
build/
*.egg-info/

# Fichiers locaux Streamlit
.streamlit/secrets.toml

# Logs et fichiers temporaires
*.log
.DS_Store
.env
.ipynb_checkpoints

# Données sensibles ou volumineuses qui ne doivent pas être versionnées
# (adaptez selon vos besoins)
secrets/
large_data/

# Fichiers de configuration spécifiques à l'IDE
.idea/
.vscode/